.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}


body {
    font-size: 16px;
    font-size: 1rem;
    color: #4a4a4a;
    line-height: 2.00;
    background: #252525;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

@media (min-width: 60em) {

}

.content {
    width: 87.90827%;
    color: #fff;
    padding: 9.17574% 0;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    bottom: 900px;
    margin-left: 700px;
    display: block;
}

header-logo-link {
    width: 50%;
    display: inline-block;
    vertical-align: middle;
}

 .a{
    text-decoration: underline;
     color: #1578a2; 
}

.heroheader{
    display: block;
    font-size: 2em;
    -webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
    word-wrap: break-word;
    line-height: 1;
    font-family: Freight Display Pro,Times New Roman,Times,serif;
}
